<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id=""containeur>


        <div class="article">

            {% if var==1 %}

                <p>Votre enregistrement est bien pris en compte !</p>

                <p>{{var1}}</p>
                <p>{{var2}}</p>
                <p>{{var3}}</p>

            {% endif %}



            <p>Ajouter un nouveau bus :</p>
            <form action="/admin" method="post">
                <div id="mef">
                    <div class="champs">

                                           
                        <p>Immatriculation :</p>
                        <div class="mep2" ><input type=text name="immat"></div>

                        <p>Nombre de places :</p>
                        <input type="number" name="places" min="5" max="100">

                        <p>Quelle ligne :</p>
                            <select name="adminLigne" >

                                {% for i in aff %}
                                <option value="{{i[0]}}">Ligne : {{i[0]}}</option>
            
                                {% endfor %}
            
                            </select>


                    </div>

                    <input type="hidden" name="verification" value="2">    
                <button id='submit'>Valider</button>

            </form>

        </div>
        
        

    </div>
    


</body>
</html>