<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id=""containeur>


        <div class="article">


            <form action="/admin" method="post">
                <div id="mef">
                    <div class="champs">

                        <div class="mep" ><label for="arret"></label></div>
                        <div class="mep2" ><input type=text name="arret"></div>
                    
                    </div>

                    <input type="hidden" name="verification" value="2">    
                <button id='submit'>Valider</button>

            </form>

        </div>
        
        

    </div>
    


</body>
</html>