<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id=""containeur>

        <H1><a href="/">Page d'administration</a></H1>

        <div class="article">

        

{% if varGlobale ==1 %}

        <p><a href="/enregistrement">Ajouter un nouvel administrateur</a></p>

            {% if var==1 %}

                <p>Votre enregistrement est bien pris en compte !</p>

                <p>{{var1}}</p>
                <p>{{var2}}</p>
                <p>{{var3}}</p>

            {% endif %}

            

            {% if var == 2 %}

            <P>Voici les arrêts disponibles pour la ligne : {{texte}}</P>
            
            <ul>
                {% for i in res1 %}
                                   
                        <li>{{i[0]}} : {{i[1]}}</li>           

                {% endfor %}
            </ul>


            <P>Voici les bus disponibles pour la ligne : {{texte}}</P>
            <ul>
                {% for i in bus %}
                                   
                        <li>{{i[0]}}</li>           

                {% endfor %}
            </ul>



            {% endif %}
           

            {% if var==3 %}

                <p>La suppression a bien été effectée !</p>


            {% endif %}


            {% if var==4 %}

                <p>La modification a bien été effectée !</p>


            {% endif %}




            <p><b>Ajouter un nouveau bus :</b></p>
            <form action="/admin" method="post">
                <div id="mef">
                    <div class="champs">
                   
                        <fieldset>
                            
                            <p>Ajouter une nouveau Bus :</p>
                            
                            <p>Immatriculation :</p>
                            <div class="mep2" ><input type=text name="immat"></div>

                            <p>Nombre de places :</p>
                            <input type="number" name="places" min="5" max="100">

                            <p>Quelle ligne :</p>
                                <select name="adminLigne" >

                                    {% for i in aff %}
                                    <option value="{{i[0]}}">Ligne : {{i[0]}}</option>
                
                                    {% endfor %}
                
                                </select>

                            <input type="hidden" name="verification" value="2">    
                            <button id='submit'>Valider</button>

                        </fieldset>
                    </div>           
            
            </form>


            <p><b>Afficher les arrêts par ligne :</b></p>

            <form action="/admin" method="post">
            
                <fieldset>

                    <select name="ligneAdmin" >

                        {% for i in aff %}
                        <option value="{{i[0]}}">Ligne : {{i[0]}}</option>

                        {% endfor %}

                    </select>

                    <input type="hidden" name="verification" value="3">   
                    <button id='submit'>Valider</button>

                </fieldset>

            </form>




            <p><b>Supprimer un bus :</b></p>

            <form action="/admin" method="post">
            
                <fieldset>

                    <select name="supp" >

                        {% for i in suppression %}
                            <option value="{{i[0]}}">numéro : {{i[1]}}</option>
                        {% endfor %}


                    </select>

                    <input type="hidden" name="verification" value="4">   
                    <button id='submit'>Valider</button>

                </fieldset>

            </form>





            <p><b>Mettre à jour des données pour un bus :</b></p>

            <form action="/admin" method="post">
            
                <fieldset>

                    <select name="supp" >

                        {% for i in suppression %}
                        <option value="{{i[0]}}">numéro : {{i[1]}}</option>
                        {% endfor %}

                    </select>
                            

                    <select name="ligneAdmin" >

                        {% for i in aff %}
                            <option value="{{i[0]}}">Ligne : {{i[0]}}</option>
                        {% endfor %}

                    </select>


                    <p>Immatriculation :</p>
                            <div class="mep2" ><input type=text name="immat"></div>

                    <p>Nombre de places :</p>
                    <div class="mep2" ><input type="number" name="places" min="5" max="100"></div>

                    <br>

                    <input type="hidden" name="verification" value="5">   
                    <button id='submit'>Valider</button>

                </fieldset>

            </form>



            <p><b>Se déconnecter :</b></p>

            <form action="/admin" method="post">
            
                <fieldset>

                    <input type="hidden" name="verification" value="200">   
                    <button id='submit'>Valider</button>

                </fieldset>

            </form>


{% endif %}

{% if varGlobale == 0 %}


    <form action="/admin" method="post">
                
        <fieldset>

        <p>Connexion : </p>

        <p>pseudo :</p>
        <p><input type="text" name='pseudo'></p>


        <p>Mot de passe :</p>
        <p><input type="password" name="password"></p>

        <input type="hidden" name="verification" value="50">   

        <button id='submit'>Valider</button>
        </fieldset>

    </form>


{% endif %}





        </div>
        
        

    </div>
    


</body>
</html>