<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id=""containeur>


        <div class="article">

            <h1>Breizibus</h1>


           

            <form action="/" method="post">
            
                <fieldset>

                <p>Connexion : </p>

                <p>pseudo :</p>
                <p><input type="text" name='pseudo'></p>


                <p>Mot de passe :</p>
                <p><input type="password" name="password"></p>

                <input type="hidden" name="verification" value="10">   

                <button id='submit'>Valider</button>
                </fieldset>

            </form>

               


    


        </div>
        
        

    </div>
    


</body>
</html>