<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <!--<link href="{{ url_for('static', filename='css/styles2.css') }}" rel="stylesheet" />-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles2.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>


<body>




    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{ url_for('admin') }}">Breizhibus</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="{{ url_for('home') }}">acceuil</a>
                            <a class="nav-link" href="{{ url_for('admin') }}">ajout et modifications de bus</a>
                            
                            <a class="nav-link" href="{{ url_for('enregistrement') }}">création comptes administrateurs</a>    
                                                
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{{ url_for('connexion') }}">Login/logout</a>

                                        </nav>
                                    </div>
                                    
                                </nav>
                            </div>
                            
                        </div>
                    </div>
                </nav>
            </div>






<div id="layoutSidenav_content">
    <main>


        <div class="formulairePageAccueil">



    <div id=""containeur>


        <div class="article">

          


            <h1>Breizibus</h1>
            
        {% if var == 1 %}
        <p>Vous avez bien créé un nouvel utilisateur !</p>
        {% endif %}

        {% if var == 2 %}
        <p>L'entrée existe déjà dans la base, veuillez créer un autre utilisateur.</p>
        {% endif %}




            <form action="/enregistrement" method="post">
        
                <fieldset>

                <p>rentrer un nouvel utilisateur : </p>

                <p>pseudo :</p>
                <p><input type="text" name='pseudo'></p>


                <p>Mot de passe :</p>
                <p><input type="password" name="password"></p>

                <input type="hidden" name="verification" value="11">   

                <button id='submit'>Valider</button>

                </fieldset>
            </form>

    


        </div>
        
        

    </div>
    





    </div>   <!-- fin div formulairePageAccueil>     -->

</main>
</div>


</body>
</html>