<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id=""containeur>


        <div class="article">

            <h1><a href="/admin">Breizibus</a></h1>


            <!-- affichage des lignes de bus disponibles et les afficher dans un formulaire-->
            <p>Sélectionnez une ligne de bus :</p>

            <form action="/" method="post">
            
                <select name="lignes" >

                    {% for i in aff %}
                    <option value="{{i[0]}}">Ligne : {{i[0]}}</option>

                    {% endfor %}

                </select>

                <button id='submit'>Valider</button>
            </form>

        





        <!-- affichage des résultats -->

        {% if verif==1  %}

            <P>Voici les arrêts disponibles pour la ligne : {{texte}}</P>
            
            <ul>
                {% for i in res1 %}
                                   
                        <li>{{i[0]}} : {{i[1]}}</li>           

                {% endfor %}
            </ul>

        {% endif %}


        </div>
        
        

    </div>
    


</body>
</html>